<h1>{{title}}</h1>
<p>Welcome to {{title}} page</p>

<div class="container">
  <p>All the participants of drawing {{drawNumber}}</p>
   <table class="striped" > 
        <thead>
          <tr>
              <th>Name</th>
              <th>Flight number</th>
              <th>Seat number</th>
              <th>Lottery number</th>
          </tr>
        </thead>

        <tbody>
          {{#each users}}
            <tr>
              <th>{{this.name}}</th>
              <th>{{this.flightNumber}}</th> 
              <th>{{this.seat}}</th>
              <th>{{this.lotteryNumber}}</th>
            </tr>
           {{/each}}
        </tbody>
      </table>
    
      <a class="waves-effect waves-light btn small-btn" href="/winner">Generate winner</a>
</div>