
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<table style="width:100%">
  <tr>
    <th>Name: {{winner.name}}</th>
    <th>Flight number: {{winner.flightNumber}}</th> 
    <th>Seat number: {{winner.seat}}</th>
    <th>Lottery number {{winner.lotteryNumber}}</th>
  </tr>
</table>
