<div class="container">
<h1>{{title}}</h1>
<p>The winner of drawing {{drawNumber}} is {{winner.name}}</p>
<table class="striped">
          <thead>
          <tr>
              <th>Flight number</th>
              <th>Seat number</th>
              <th>Lottery number</th>
          </tr>
        </thead>
  <tr>
    <th>{{winner.flightNumber}}</th> 
    <th>{{winner.seat}}</th>
    <th>{{winner.lotteryNumber}}</th>
  </tr>
</table>
</div>